<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>css3实现3D轮播图</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
<div style="font-size: 30px;font-weight: bold;margin-top:200px;text-align: center">css3实现3D轮播图</div>

	<div class="img-box">
		<div class="img-list">
			<img src="./img/banner1.jpg">
			<img src="./img/banner2.jpg">
			<img src="./img/banner3.jpg">
			<img src="./img/banner4.jpg">
			<img src="./img/banner5.jpg">
			<img src="./img/banner6.jpg">
		</div>
	</div>
</body>
</html>