<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
    <title>Title</title>
</head>
<body>
<div class="regex-box">
    <div style="font-size: 30px;font-weight: bold;margin-bottom:50px;text-align: center">正则表达式之入门</div>
    <div class="regex-list">
        <label>测试手机号码:</label>
        <input type="text" name="phone" id="phone" />
        <span><button type="button" onclick="testphone()">手机号检测</button></span>
    </div>
    <div class="regex-list">
        <label>测试相邻重复:</label>
        <input type="text" name="wordRepeat" id="wordRepeat">
        <span><button type="button" onclick="testwordRepeat()">相邻重复检测</button></span>
    </div>
</div>
</body>
<script src="js/index.js"> </script>
</html>