<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自定义网页右键菜单</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="context">  right Click to see the me</div>
<div id="RightMenu">
    <ul>
        <li class="itemList">
            <span class="Menuleft">网页另存为</span>
            <span class="Menuright">Ctrl+S</span>
        </li>
        <li  class="itemList">
            <span class="Menuleft">复制网页地址</span>
        </li>
    </ul>
</div>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>