<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <script src="js/index.js"></script>
    <title></title>
</head>
<body>
<figure class="container">
    <figcaption class="caption">
        <div class="title">
            <h1 class="streamer slideIn">欢迎访问我站点 http://cuiwujie.duapp.com/</h1>
            <a class="breathe slideIn" href="http://cuiwujie.duapp.com/" target="_blank">点击进入</a>
        </div>
    </figcaption>
    <img src="images/1.jpg" alt="image">
</figure>
</body>
</html>