*{
    padding: 0;
    margin: 0;
}
.container{
    width:80px;
    height:80px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-42px 0 0 -42px;
    border-radius: 50%;
    border: 2px solid #FF0080;
    border-top-color: #fff;
    animation: CircleRotate  1s  linear  infinite;
}
.commonStyle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position:absolute;
    left:50%;
    top:50%;
    margin:-30px 0 0 -30px;
    clip: rect(0,30px,60px,0);
}
.content {
    background-color: #FFAAD5;
    z-index: 3;
}
.semicircle {
    background-color: #FF359A;
    z-index: 2;
}
.content2, .semicircle2{
    transform: rotate(180deg);
}
.content1{
    animation: content1-rotate 2s linear infinite;
    z-index: 3;
}
.content2{
    animation: content2-rotate 2s linear infinite;
    z-index: 3;
}
.semicircle1{
    animation: inner1-rotate 2s linear infinite;
}

.semicircle2{
    animation: inner2-rotate 2s linear infinite;
}

@keyframes content1-rotate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-180deg);
    }
    50%{
        transform: rotate(-360deg);
    }
    75%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(-360deg);
    }

}
@keyframes content2-rotate{
    0%{
        transform: rotate(180deg);
    }
    25%{
        transform: rotate(180deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-180deg);
    }
}
@keyframes inner1-rotate{
    0%{
        transform: rotate(0deg);
        z-index: 2;
    }
    24%{
        transform: rotate(0deg);
        z-index: 2;
    }
    25%{
        transform: rotate(0deg);
        z-index: 4;
    }
    50%{
        transform: rotate(0deg);
        z-index: 4;
    }
    74%{
        transform: rotate(-179deg);
        z-index: 4;
    }
    75%{
        transform: rotate(-180deg);
        z-index: 2;
    }
    100%{
        transform: rotate(-360deg);
        z-index: 2;
    }
}
@keyframes inner2-rotate{
    0%{
        transform: rotate(180deg);
        z-index: 2;
    }
    25%{
        transform: rotate(180deg);
        z-index: 2;
    }
    49%{
        transform: rotate(180deg);
        z-index: 2;
    }
    50%{
        transform: rotate(180deg);
        z-index: 4;
    }
    75%{
        transform: rotate(180deg);
        z-index: 4;
    }
    100%{
        transform: rotate(180deg);
        z-index: 2;
    }
}
/* 整个圆环的转动 */
@keyframes CircleRotate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(-360deg);
    }
}



